@model Post;

<div class="container ms-auto my-5 mx-5">
    <div class="card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model.Title</div>
    <div class="card-body text-danger">
        <h5 class="card-title">Denied</h5>
        <p class="card-text">@Model.Content</p>
    </div>
    </div>
</div>