@model List<User>;
@{
  var a = 0;
}
<div class="container ms-auto my-5">
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fullname</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  @foreach (var user in Model)
  {
    a += 1;
    <tbody>
      <tr>
        <th scope="row">@a</th>
        <td>@user.FullName</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>
          <a class="btn btn-warning ms-auto mx-5 my-4" href="/">All Posts</a>
          <a class="btn btn-danger ms-auto mx-5 my-4" href="/DeleteUser/@user.Id">Delete</a>
        </td>
      </tr>
    </tbody>
  }
</table>
</div>