/* _content/blog2/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ujpsh24c6r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ujpsh24c6r] {
  color: #0077cc;
}

.btn-primary[b-ujpsh24c6r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ujpsh24c6r], .nav-pills .show > .nav-link[b-ujpsh24c6r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ujpsh24c6r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ujpsh24c6r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ujpsh24c6r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ujpsh24c6r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ujpsh24c6r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/blog2/Views/Shared/_SwitchPartial.cshtml.rz.scp.css */
.switch[b-klilkbvvmv] {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input[b-klilkbvvmv] {
    display:none;
  }
  
  .slider[b-klilkbvvmv] {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider[b-klilkbvvmv]:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider[b-klilkbvvmv] {
    background-color: #66bb6a;
  }
  
  input:checked + .slider[b-klilkbvvmv]:before {
    transform: translateX(26px);
  }
  
  .slider.round[b-klilkbvvmv] {
    border-radius: 34px;
  }
  
  .slider.round[b-klilkbvvmv]:before {
    border-radius: 50%;
  }
  /* general styling */
  html[b-klilkbvvmv], body[b-klilkbvvmv] {
    height: 100%;
    margin: 0;
  }
  
  body[b-klilkbvvmv] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .container[b-klilkbvvmv] {
    margin: 0 auto;
  }
