.switch[b-klilkbvvmv] {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input[b-klilkbvvmv] {
    display:none;
  }
  
  .slider[b-klilkbvvmv] {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider[b-klilkbvvmv]:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider[b-klilkbvvmv] {
    background-color: #66bb6a;
  }
  
  input:checked + .slider[b-klilkbvvmv]:before {
    transform: translateX(26px);
  }
  
  .slider.round[b-klilkbvvmv] {
    border-radius: 34px;
  }
  
  .slider.round[b-klilkbvvmv]:before {
    border-radius: 50%;
  }
  /* general styling */
  html[b-klilkbvvmv], body[b-klilkbvvmv] {
    height: 100%;
    margin: 0;
  }
  
  body[b-klilkbvvmv] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .container[b-klilkbvvmv] {
    margin: 0 auto;
  }