.logo-light-shadow
{
  filter: drop-shadow(px, 5px, 5px rgba(200, 0, 117, 0.4));
}

#post-title{
  font-size: 32px;
  text-overflow: inherit;
}

#post-title:focus{
  outline: none;
}

pre {
  padding: 2px;
  border-radius: 2px;
  background-color: black;
  color: white;
}