@model string

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Man you can't edit this  ☹️</h4>
    <hr>
    <a class="btn btn-outline-primary my-auto ms-auto" href="/post/@Model">Back</a>
</div>